[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "themes/themes/meme"]
	path = themes/themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
